<h1>Create Services</h1>

<%= simple_form_for :services,
                    url: "/jobs/#{@job.id}/services",
                    method: "post",
                    html: { name: "services[]", data: { controller: "checkbox", action: "submit->checkbox#preventEmptySubmission" } } do |f| %>
  <div>
    <% @services_options.each_with_index do |service, index| %>
      <div>
        <%= check_box_tag 'services[][name]', service, false, id: "service_#{index}", data: { checkbox_target: "checkbox", action: "click->checkbox#consoleLogChecked" } %>
        <%= label_tag "service_#{index}", service %>
      </div>
    <% end %>
  </div>
  <%= f.submit "Create Services" %>
<% end %>
